<!DOCTYPE html>
<html>
    
<head>
        <title>About </title>
        <link rel="stylesheet" href="C:/Users/Matt_Park_Pavilion/Documents/Future Skills/Final Project/The_Drone_Guy/public/stylesheets/style.css">
</head>
    

<body>
    <div>
		<ul>
            <li><a href="home.html">Home</a></li>
            <li><a class = "active"a href="about.ejs">About</a></li>
            <li><a href="book.ejs">Book</a></li>
            <li><a href="contact_us.ejs">Contact</a></li>
            <li style="float:right"><a href="login.ejs">Login</a></li>
		</ul>
	</div>

        <div class="header"></div>
        
<h1>
     About The Drone Guy 
</h1>

        <p1> 
            I'm here to tell you all about The drone guy. 

        </p1>
</body>
</html>