<!DOCTYPE html>
<html>
<head>
    <title>About The Drone Guy</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <meta name="description" content="Learn about The Drone Guy and our services.">
</head>
<body>
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
            <li style="float:right"><a href="/logout">Logout</a></li>
            <li style="float:right"><a href="/admin/admin_book">Admin Book</a></li>
            <li style="float:right"><a class = "active" href="/admin_landing">Admin Profile</a></li>
            <li style="float:right"><a href="/admin/admin_users">Admin Users</a></li>


        </ul>
    </div>

    <div class="header"></div>
    
    <h1>ADMIN LANDING</h1>
   

    
</body>
</html>
