<!DOCTYPE html>
<html>
<head>
    <title>About The Drone Guy</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Learn about The Drone Guy and our services.">

</head>
<body>
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
            <li id="logout" style="float:right"><a href="/logout">Logout</a></li>
            <li style="float:right"><a class="active" href="/admin/admin_landing">Admin Profile</a></li>
            <li style="float:right"><a href="/admin/admin_book">Admin Book</a></li>
            <li style="float:right"><a href="/admin/admin_users">Admin Users</a></li>
        </ul>
    </div>

    <div class="header"></div>
    
<!-- Admin Book Section -->
<section id="adminBook">
    <h2>Admin Book</h2>
    <p>Welcome to the Admin Book page! Here, you can manage all bookings in the system.</p>

    <!-- Functions -->
    <ul-1>
        <li>View All Bookings - Easily navigate through a comprehensive list of all bookings in the system.</li>
        <li>Edit Bookings - Make changes to a booking seamlessly to ensure accurate information.</li>
        <li>Delete Bookings - Remove outdated or canceled reservations effortlessly.</li>
        <li>Create Bookings - Initiate new bookings with ease.</li>
    </ul>
</section>

<!-- Admin Users Section -->
<section id="adminUsers">
    <h2>Admin Users</h2>
    <p>Welcome to the Admin Users page! This is your central hub for managing all user-related activities within the system.</p>

    <ul-1>
        <li>View All Users - Access a comprehensive list of all users in the system.</li>
        <li>Edit Details - Update user information to ensure accuracy and relevance.</li>
        <li>Delete Users - Manage user accounts effortlessly.</li>
        <li>User Activity Tracking - Stay informed about user activities for better system security.</li>
    </ul>
</section>


</body>
</html>
