<!DOCTYPE html>
<html>
<head>
    <title>About The Drone Guy</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <meta name="description" content="Learn about The Drone Guy and our services.">
</head>
<body>
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
            <li style="float:right"><a href="/logout">Logout</a></li>
            <li style="float:right"><a class = "active" href="/admin/admin_book">Admin Book</a></li>
            <li style="float:right"><a href="/admin/admin_landing">Admin Profile</a></li>
            <li style="float:right"><a href="/admin/admin_users">Admin Users</a></li>
        </ul>
    </div>

    <div class="header"></div>
    
    <h1>Admin Booking Management Page</h1>

    <h2>Available Bookings</h2>

    <table id = "booking">
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Duration (Hours)</th>
        </tr>
        
        <% data.forEach(function(row) { %>
            <tr>
                <td><%= row.booking_date %></td>
                <td><%= row.booking_time %></td>
                <td><%= row.booking_date %></td>
            </tr>
        <% }); %>
           
    </table>

    <h2>Make a New Booking</h2>

    <form action="/admin/admin_book" method="post">

      
        <div class="container">
          <label for="date"><b>Date</b></label>
          <input type="date" placeholder="Enter the Date" name="date" required>

          <label for="time"><b>Time</b></label>
          <input type="time" placeholder="Enter the Start Time" name="time" required>

          <label for="duration"><b>Duration</b></label>
          <input type="number" placeholder="Enter duration" name="duration" required>
      
          <button type="submit">Register</button>

          </div>
          
      </form>

</body>
</html>
