<!DOCTYPE html>
<html>
<head>
    <title>About The Drone Guy</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <meta name="description" content="Learn about The Drone Guy and our services.">
</head>
<body>
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
            <li style="float:right"><a href="/user_logout">Logout</a></li>
            <li style="float:right"><a class = "active" href="/user_book">Book</a></li>
            <li style="float:right"><a href="/user_landing">Profile</a></li>
            <li style="float:right"><a href="/user_view">Users View</a></li>
        </ul>
    </div>

    <div class="header"></div>
    
    <h1>Admin Booking Management Page</h1>


    <form action="/add_book" method="post">
        <div class="imgcontainer">
          <img src="../images/drone_icon.png" alt="Avatar" class="avatar">
        </div>
      
        <div class="container">
          <label for="date"><b>Date</b></label>
          <input type="date" placeholder="Enter Date" name="date" required>

          <label for="time"><b>Time</b></label>
          <input type="time" placeholder="Enter the time of appointment" name="time" required>

          <button type="submit">Submit</button>
          
      </form>


      <table id = "booking">
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Availability</th> 
            <th>Book</th>
        </tr>
        
        <% data.forEach(function(row) { %>
            <tr>
                <td><%= row.date %></td>
                <td><%= row.time %></td>
                <td><%= row.available %></td>
                <td><button>Hi </button></td>
            </tr>
        <% }); %>
           
    </table>
    
</body>
</html>
