<!DOCTYPE html>
<html>
<head>
    <title>Contact The Drone Guy</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <meta name="description" content="Learn about The Drone Guy and our services.">
</head>
<body>
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a  href="/about">About</a></li>
            <li><a class="active" href="/contact">Contact</a></li>
            <li style="float:right"><a href="/login">Book / Login</a></li>
        </ul>
    </div>

    <div class="header"></div>
    
    <h1>Contact</h1>
    <h2>Contact us </h2>

    <p>
       Email: thedroneguy@gmail.com <br>

       Phone: 021 123 4567
    </p>
</body>
</html>
