<!DOCTYPE html>
<html>
<head>
    <title>The Drone Guy</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <div>
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
            <li style="float:right"><a href="/login">Login</a></li>
            <li style="float:right"><a href="/register">Register</a></li>

        </ul>
    </div>

    <div class="header"></div>
    
    <h1>The Drone Guy</h1>

    <p>
        G'day! I'm Matt - The Drone Guy! Your Drone Partner!

        As The Drone Guy, I bring eight years of rich experience in the dynamic world of drones. 
    
        I'm not just about flying high; I'm about taking your business to new heights. 
        
        With a track record spanning various industries like Forestry, Power, Surveying and Infrastructure Inspections, my expertise is rooted in practical knowledge and hands-on experience.

        Whether you're seeking a few pointers to help streamline your operations, or you want an end-to-end solution. I've got you covered. 
        
        Explore my range of consulting services tailored to meet your business needs and soar to success with me.
        </p>
</body>
</html>
