<!DOCTYPE html>
<html>
<head>
    <title>The Drone Guy</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <div>
        <ul>
            <li><a class="active"a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/book">Book</a></li>
            <li><a href="/contact">Contact</a></li>
            <li style="float:right"><a href="/login">Login</a></li>
            <li style="float:right"><a href="/users_view">Users_View</a></li>
        </ul>
    </div>

    <div class="header"></div>
    
    <h1>The Drone Guy</h1>
    <h2>Your Source for Drone Services</h2>

    <p>
        Welcome to The Drone Guy. I'm Matt, your drone expert. Let's explore the world of drones together!
    </p>
</body>
</html>
