<!DOCTYPE html>
<html>
<head>
    <title>Book or Login to The Drone Guy</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <meta name="description" content="Learn about The Drone Guy and our services.">
</head>
<body>
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/book">Book</a></li>
            <li><a href="/contact">Contact</a></li>
            <li style="float:right"><a class="active"a href="/login">Login</a></li>
        </ul>
    </div>

    <div class="header"></div>
    
    <h1>Login Page </h1>
    <h2>Please login here</h2>

    <div> 
        <form>
            
            <input type="email" name="email" id="email" default="email">

            <br>
            <input type="password" name="password" id="password">
            <br>
            <input type="submit">   
        </form>
    </div>

</body>
</html>
