<!DOCTYPE html>
<html>
<head>
    <title>Login to The Drone Guy</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <meta name="description" content="Learn about The Drone Guy and our services.">

</head>
<body>
    <div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/contact">Contact</a></li>
          <li style="float:right"><a class="active" href="/login">Login</a></li>
          <li style="float:right"><a href="/register">Register</a></li>
        </ul>
    </div>

    <div class="header">

  <h1>Login Page </h1>
    </div>
    
    
    

    <form action="/login" method="post">
        <div class="imgcontainer">
          <img src="../images/drone_icon.png" alt="" class="avatar">
        </div>
      
        <div class="container">
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" required>
      
          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
      
          <button type="submit">Login</button>
        </div>
      
      </form>

</body>
</html>
