<!DOCTYPE html>
<html>
<head>
    <title>About The Drone Guy</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <meta name="description" content="Learn about The Drone Guy and our services.">
</head>
<body>
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a class="active"href="/services">Services</a></li>
            <li><a href="/book">Book</a></li>
            <li><a href="/contact">Contact</a></li>
            <li style="float:right"><a href="/login">Login</a></li>
        </ul>
    </div>

    <div class="header"></div>
    
    <h1>The Drone Guy's Services </h1>
    <h2>Learn About Our Services</h2>

    <p>
        Welcome to The Drone Guy, where we specialize in drone services and technology. Our mission is to provide you with the best drone solutions.
    </p>
</body>
</html>
