<!DOCTYPE html>
<html>
<head>
    <title>Book or Login to The Drone Guy</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <meta name="description" content="Learn about The Drone Guy and our services.">
</head>
<body>
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/book">Book</a></li>
            <li><a href="/contact">Contact</a></li>
            <li style="float:right"><a class="active" href="/login">Login</a></li>
        </ul>
    </div>

    <div class="header"></div>
    
    <h1>Users Page</h1>
    
    <table class="table table-hover">
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Email</th>
		</tr>
		
		<% if(userData.length !=0) { var i=1; userData.forEach(function(data) {
		%>
		<tr>
			<td><%=data.id %></td>
			<td><%=data.name %></td>
			<td><%=data.email %></td>
		</tr>
		<% i++; }) %> <% } else { %>
		<tr>
			<td colspan="7"> No Data Found </td>
		</tr>
		<% } %>
</body>
</html>
