<!DOCTYPE html>
<html>
<head>
    <title>Booking The Drone Guy</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <meta name="description" content="Learn about The Drone Guy and our services.">

</head>
<body>
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
            <li style="float:right"><a href="/logout">Logout</a></li>
            <li style="float:right"><a class = "active" href="/user_book">Book</a></li>
            <li style="float:right"><a href="/user/user_landing">Profile</a></li>


        </ul>
    </div>

    <div class="header"></div>

    <h1>Booking Page</h1>
    <table id="booking">
        <tr>
            <th>Booking Id</th>
            <th>Date</th>
            <th>Time</th>
            <th>Book</th>
        </tr>
        <% data.forEach(function(row) { %>
            <tr>
                <td><%= row.booking_id %></td>
                <td><%= row.booking_date %></td>
                <td><%= row.booking_time %></td>
                <td>
                    <form action="/user/book_drone" method="post">
                        <input type="hidden" name="booking_id" value="<%= row.booking_id %>">
                        <button type="submit">Book</button>
                    </form>
                </td>
            </tr>
        <% }); %>
    </table>
</body>
</html>
