 

 .header {
    background-image: url("C:/Users/Matt_Park_Pavilion/Documents/Future Skills/Final Project/The_Drone_Guy/public/images/drone_1.jpg");;
    background-image: url("C:/Users/Matt_Park_Pavilion/Documents/Future Skills/Final Project/The_Drone_Guy/public/images/drone_1.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    text-align: center;
    padding: 20px;
  }

 body {
        background-image: url("C:/Users/Matt_Park_Pavilion/Documents/Future Skills/Final Project/The_Drone_Guy/public/images/drone_1.jpg");
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-attachment: fixed; 
}
    
ul {
    list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
    background-color: black;
}
      
li {
    float: left;
}
      
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


h1 {
    color: white;
}

h2 {
    color: white;
}

P1 {
    color: white;
}