 

 .header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
  }
    
ul {
    list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
    background-color: black;
}
      
li {
    float: left;
}
      
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


h1 {
    color: red;
}

h2 {
    color: red;
}

P1 {
    color: red;
}