 
/* Website fill width */ 


* { 
    margin: 0;
    padding: 0;
}

/* Nav Bar Style*/ 

.header {
    background-image: url('../images/drone_1.jpg');
    text-align: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    text-align: center;
    padding: 100px;
    ;
  }
    
ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black; 
    margin:auto
}
      
li {
    float: left;
}

li a:hover {
    background-color: #555;
    color: lightblue;
  }

.active {
    background-color: white;
    background-color: #555;
  }
      
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Body Style*/ 

h1 {
    color: rgb(71, 130, 165);

}

h2 {
    color: rgb(71, 130, 165);
}

P1 {
    color: rgb(71, 130, 165);
}

/* form CSS 

form {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  input[type=date], input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  input[type=time], input[type=time] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #6db4e4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
  }
  
  /* Avatar image */
  img.avatar {
    width: 20%;
    border-radius: 100%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }

  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }


  /* booking table style*/ 

  #booking {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    position: middle;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  
  #booking td, #booking th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #booking tr:nth-child(even){background-color: #f2f2f2;}
  
  #booking tr:hover {background-color: #ddd;}
  
  #booking th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #14608b;
    color: white;
  }

    /* admin table style*/ 

    #booking {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      position: middle;
      width: 75%;
      margin-left: auto;
      margin-right: auto;
    }
    
    #booking td, #booking th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    
    #booking tr:nth-child(even){background-color: #f2f2f2;}
    
    #booking tr:hover {background-color: #ddd;}
    
    #booking th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #14608b;
      color: white;
    }
  